Package: com.aaz.tweakmanager
Name: AAZ Tweak Manager
Version: 0.1.0~beta2
Architecture: iphoneos-arm64
Description: Back up personally installed jailbreak packages, sources, and installation history.
Maintainer: AAZ
Author: AAZ
Section: Utilities
Depends: firmware (>= 15.0)
